* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 14, 14);
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper_content {
    text-align: justify;
    height: 100vh;
    width: 100%;
    color: #ffae00;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    transform: perspective(300px) rotate3d(15, 0, 0, 36deg);
}

.wrapper {
    width: 50%;
    transform: translateY(506px);
    animation: episode_0 30s linear backwards infinite;
}

.carpet-title {
    text-align: center;
}

@keyframes episode_0 {
    0% {
        transform: translateY(506px);
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}


